<template>
    <div class="form-create">
        <b-form @submit="onSubmit">
            <b-form-file
                accept="image/*"
                v-model="form.photo"
                placeholder="Загрузите изображение"
                drop-placeholder="Перенесите изображение"
            ></b-form-file>

            <b-form-group label="Марка" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.mark"
                    required
                    placeholder="Введите марку"
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Модель" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.model"
                    required
                    placeholder="Введите модель"
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Год выпуска" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.year_of_issue"
                    required
                    placeholder="Введите год выпуска"
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Гос. номер" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.number"
                    required
                    placeholder="Введите гос. номер"
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Цвет" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.color"
                    required
                    placeholder="Введите цвет"
                ></b-form-input>
            </b-form-group>

            <b-form-group class="box-radio" label="Выберите коробку передач">
                <b-form-radio v-model="form.box" name="some-radios" value="Автомат">Автомат</b-form-radio>
                <b-form-radio v-model="form.box" name="some-radios" value="Механика">Механика</b-form-radio>
            </b-form-group>

            <b-form-group label="Стоимость в сутки" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.price_per_day"
                    required
                    placeholder="Введите стоимость"
                ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Сохранить</b-button>
        </b-form>
    </div>
</template>

<script>
import Request from "../../helpers/request";

export default {
    data() {
        return {
            form: {
                photo: null,
                mark: '',
                model: '',
                year_of_issue: '',
                number: '',
                color: '',
                box: 'Автомат',
                price_per_day: ''
            }
        }
    },
    created() {
        this.getCar(this.$route.params.car);
    },
    methods: {
        getCar(number) {
            Request.get(`/cars/car/${number}`)
                .then((data) => {
                    this.form = data;
                })
                .catch(() => {
                    this.$router.push({ name: 'Cars' });
                })
        },
        onSubmit(evt) {
            evt.preventDefault()

            const data = new FormData();
            data.append('photo', this.form.photo);
            data.append('data', JSON.stringify(this.form));

            Request.post('/cars/edit', data)
                .then(() => {
                    this.$root.showNotify('success', 'Автомобиль обновлен');
                })
                .catch((err) => {
                    this.$root.showNotify('error', err);
                })
        }
    }
}
</script>

<style scoped>
    .form-create {
        width: 280px;
        margin: auto;
    }

    .box-radio {
        text-align: left;
    }
</style>
