<template>
    <div>
        <router-link to="/cars/create">
            <b-button class="createCar" variant="outline-primary">Создать автомобиль</b-button>
        </router-link>

        <b-col lg="6" class="my-1">
            <b-form-group
                label="Filter"
                label-cols-sm="3"
                label-align-sm="right"
                label-size="sm"
                label-for="filterInput"
                class="mb-0"
            >
                <b-input-group size="sm">
                    <b-form-input
                        v-model="filter"
                        type="search"
                        id="filterInput"
                        placeholder="Type to Search"
                    ></b-form-input>
                    <b-input-group-append>
                        <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-form-group>
        </b-col>

        <b-table
            ref="table"
            striped
            hover
            :items="myProvider"
            :fields="fields"
            :filter="filter"
            :current-page="currentPage"
            :per-page="perPage"
            filter-debounce="500"
        >
            <template #cell(photo_url)="data">
                <img :src="`/images/cars/${data.item.photo_url}`" width="64" height="64" />
            </template>

            <template #cell(actions)="data">
                <router-link :to="`/cars/${data.item.number}/edit`">
                    <b-button variant="outline-primary">Редактировать</b-button>
                </router-link>
                <b-button variant="danger" v-on:click="deleteCar(data.item.number)">Удалить</b-button>
            </template>
        </b-table>

        <b-col sm="7" md="6" class="my-1">
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            ></b-pagination>
        </b-col>
    </div>
</template>

<script>
import Request from "../../helpers/request";

export default {
    data() {
        return {
            fields: [
                {
                    key: 'id',
                    sortable: true
                },
                {
                    key: 'photo_url',
                    label: 'Фото'
                },
                {
                    key: 'mark',
                    label: 'Марка'
                },
                {
                    key: 'model',
                    label: 'Модель'
                },
                {
                    key: 'color',
                    label: 'Цвет'
                },
                {
                    key: 'box',
                    label: 'Коробка передач'
                },
                {
                    key: 'number',
                    label: 'Гос. номер'
                },
                {
                    key: 'year_of_issue',
                    label: 'Год выпуска'
                },
                {
                    key: 'price_per_day',
                    label: 'Стоимость в сутки'
                },
                {
                    key: 'actions',
                    label: 'Действие'
                }
            ],
            currentPage: 1,
            totalRows: 1,
            perPage: 1,
            filter: ''
        }
    },
    methods: {
        myProvider(ctx) {
            let sort = 'ASC';

            if (ctx.sortDesc) {
                sort = 'DESC'
            }

            return Request.get('/cars', {
                page: ctx.currentPage,
                filter: ctx.filter,
                desc: sort
            })
                .then((cars) => {
                    this.totalRows = cars.total;
                    this.perPage = cars.per_page;

                    return cars.data;
                })
        },
        deleteCar(number) {
            return Request.post(`/cars/delete/${number}`)
                .then(() => {
                    this.$root.showNotify('success', 'Автомобиль удален');

                    this.$refs.table.refresh()
                })
                .catch((err) => {
                    this.$root.showNotify('error', err);
                })
        }
    }
}
</script>

<style>
    .createCar {
        float: right;
        margin: 5px;
    }
</style>
