<template>
    <b-modal
        id="order-modal"
        ref="modal"
        title="Заявка на бронирование"
        hide-footer
    >
        <div class="order__top">
            <span>{{ car.mark }} {{ car.model }}</span>
            <br />
            <span>{{ car.price_per_day }} р/сутки</span>
        </div>

        <div class="order__info">
            <span>Год выпуска: {{ car.year_of_issue }}</span>
            <br />
            <span>Цвет: {{ car.color }}</span>
            <br />
            <span>Коробка: {{ car.box }}</span>
        </div>

        <form ref="form">
            <b-form-group
                label="Имя"
            >
                <b-form-input
                    v-model="form.username"
                    required
                ></b-form-input>
            </b-form-group>

            <b-form-group
                label="Телефон"
            >
                <b-form-input
                    v-model="form.telephone"
                    required
                ></b-form-input>
            </b-form-group>

            <date-picker v-model="form.from_date" valueType="timestamp" style="width: 50%"></date-picker>
            <date-picker v-model="form.to_date" valueType="timestamp" style="width: 49%"></date-picker>

            <div class="order__top order__bottom">
                <span>Сумма аренды:</span>
                <br />
                <span>{{ totalPrice }}р</span>
            </div>

            <div class="order__placeorder__button">
                <b-button @click="placeOrder" variant="primary">Бронировать</b-button>
            </div>
        </form>
    </b-modal>
</template>

<script>
import Request from "../../helpers/request";
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';

export default {
    components: {
        DatePicker
    },
    data() {
        return {
            car: {},
            form: {
                username: '',
                telephone: '',
                from_date: + new Date(),
                to_date: + new Date()
            },
            totalPrice: 0
        }
    },
    watch: {
        'form.from_date'(val, oldValue) {
            const date = + new Date(val).setHours(0,0,0,0);
            const currentDate = + new Date().setHours(0,0,0,0);
            const toDate = + new Date(this.form.to_date).setHours(0,0,0,0);

            if ((date < currentDate) || (date > toDate)) {
                return this.form.from_date = oldValue;
            }

            this.getDiffDays();
        },
        'form.to_date'(val, oldValue) {
            const date = + new Date(val).setHours(0,0,0,0);
            const currentDate = + new Date().setHours(0,0,0,0);
            const fromDate = + new Date(this.form.from_date).setHours(0,0,0,0);

            if ((date < currentDate) || (date < fromDate)) {
                return this.form.to_date = oldValue;
            }

            this.getDiffDays();
        }
    },
    mounted() {
        this.$root.$on('open-order-modal', (car) => {
            this.car = car;
            this.totalPrice = this.car.price_per_day;
            this.$bvModal.show('order-modal');
        })
    },
    methods: {
        placeOrder() {
            let fromDate = new Date(this.form.from_date);
            let toDate = new Date(this.form.to_date);

            fromDate = `${fromDate.getFullYear()}-${this.minTwoDigits(fromDate.getUTCMonth() + 1)}-${this.minTwoDigits(fromDate.getDate())}`;
            toDate = `${toDate.getFullYear()}-${this.minTwoDigits(toDate.getUTCMonth() + 1)}-${this.minTwoDigits(toDate.getDate())}`;

            Request.post('/orders/create', {
                car_id: this.car.id,
                username: this.form.username,
                telephone: this.form.telephone,
                from_date: fromDate,
                to_date: toDate
            }).then(() => {
                this.$root.showNotify('success', 'Заказ оформлен');
                this.$bvModal.hide('order-modal');
            }).catch((err) => {
                this.$root.showNotify('error', err);
            });
        },
        getDiffDays() {
            const fromDate = + new Date(this.form.from_date).setHours(0,0,0,0);
            const toDate = + new Date(this.form.to_date).setHours(0,0,0,0);

            const diffTime = Math.abs(fromDate - toDate);
            const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

            this.totalPrice = this.car.price_per_day * (diffDays + 1);
        },
        minTwoDigits(n) {
            return (n < 10 ? '0' : '') + n;
        }
    }
}
</script>

<style>
    .order__top {
        font-weight: bold;
        text-align: center;
    }

    .order__info {
        text-align: center;
    }

    .order__bottom {
        font-size: 20px;
        margin-top: 10px;
    }

    .order__placeorder__button {
        margin-top: 30px;
        position: relative;
        text-align: center;
    }
</style>
