<template>
    <div>
        <span class="welcome">
            Добро пожаловать в панель администратора проекта "Аренда автомобилей", созданный специально для "Software Solutions Inc" разработчиком "Антон Соболь".
        </span>
        <br />
        <span>
            Для ознакомления можете перейти по страницам:
            <br />
            <router-link to="/cars">
                <b-button>Автомобили</b-button>
            </router-link>
            <router-link to="/orders">
                <b-button>Заказы</b-button>
            </router-link>
        </span>
    </div>
</template>

<script>
export default {

}
</script>

<style>
    .welcome {
        font-size: 22px;
    }
</style>
