<template>
    <div>
        <form class="form-signin" onsubmit="return false;">
            <h1 class="h3 mb-3 font-weight-normal">Авторизуйтесь</h1>

            <label for="inputUsername" class="sr-only">Имя пользователя</label>
            <input v-model="loginData.username" type="text" id="inputUsername" class="form-control" placeholder="Имя пользователя" required="" autofocus="">

            <label for="inputPassword" class="sr-only">Пароль</label>
            <input v-model="loginData.password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="">

            <button class="btn btn-lg btn-primary btn-block" type="submit" v-on:click="logIn">Авторизоваться</button>
        </form>
    </div>
</template>

<script>
import Request from "../helpers/request";

export default {
    data() {
        return {
            loginData: {
                username: '',
                password: ''
            }
        }
    },
    methods: {
        logIn() {
            Request.post('auth', this.loginData)
                .then((data) => {
                    this.$root.showNotify('success', 'Вы успешно авторизовались');

                    sessionStorage.setItem("token", data.token);
                    this.$router.push({ name: 'Index' });
                })
                .catch((err) => {
                    this.$root.showNotify('error', err);
                });
        }
    }
}
</script>

<style scoped>
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.btn-block {
    margin-top: 20px;
}

.form-control {
    margin-top: 10px;
}
</style>
