<template>
    <div class="product">
        <img class="product__img" :src="`/images/cars/${car.photo_url}`" />

        <div class="product__info">
            <span>{{ car.mark }} {{ car.model }}</span>
            <br />
            <span>{{ car.price_per_day }} р/сутки</span>

            <div>
                <span>{{ car.year_of_issue }} г.в</span>
                <span>{{ car.box }}</span>
            </div>

            <span>{{ car.color }}</span>
            <br />

            <b-button v-if="car.available" @click="$root.$emit('open-order-modal', car)" class="product__button" variant="primary">Забронировать</b-button>
            <b-button v-else disabled class="product__button" variant="primary">Недоступен</b-button>
        </div>
    </div>
</template>

<script>
export default {
    props: ['car']
}
</script>

<style>
.product {
    width: 180px;
    height: 310px;
    border: 1px solid;
    margin: 10px;
}

.product__img {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 164px;
    height: 150px;
}

.product__button {
    margin-top: 10px;
}

.product__info {
    border-top: 1px solid;
}
</style>
