<template>
    <b-card>
        <b-card-body>
            <b-card-title>Фильтр</b-card-title>
        </b-card-body>

        <h6 class="text-uppercase font-weight-bold mb-3">Марка</h6>
        <div>
            <div class="mt-2 mb-2 pl-2">
                <b-form-checkbox-group
                    v-model="filter.mark"
                    :options="filters.marks"
                    plain
                    stacked
                ></b-form-checkbox-group>
            </div>
        </div>

        <h6 class="text-uppercase font-weight-bold mb-3 to-up">Модель</h6>
        <div>
            <div class="mt-2 mb-2 pl-2">
                <b-form-checkbox-group
                    v-model="filter.model"
                    :options="filters.models"
                    plain
                    stacked
                ></b-form-checkbox-group>
            </div>
        </div>

        <h6 class="text-uppercase font-weight-bold mb-3 to-up">Цена</h6>
        <div class="price-filter-control">
            <input type="number" v-model="filter.minPrice" :placeholder="filters.minPrice" class="form-control w-50 pull-left mb-2">
            <input type="number" v-model="filter.maxPrice" :placeholder="filters.maxPrice" class="form-control w-50 pull-right price-filter-control__block">
        </div>

        <h6 class="text-uppercase font-weight-bold mb-3 to-up">Год выпуска</h6>
        <div class="price-filter-control">
            <b-form-select v-model="filter.minYear" :options="filters.years"></b-form-select>
            <b-form-select class="price-filter-control__block" v-model="filter.maxYear" :options="filters.years"></b-form-select>
        </div>

        <h6 class="text-uppercase font-weight-bold mb-3 to-up">Коробка передач</h6>
        <div>
            <div class="mt-2 mb-2 pl-2">
                <b-form-checkbox-group
                    v-model="filter.box"
                    :options="filters.boxes"
                    plain
                    stacked
                ></b-form-checkbox-group>
            </div>
        </div>

        <h6 class="text-uppercase font-weight-bold mb-3 to-up">Цвет</h6>
        <div>
            <div class="mt-2 mb-2 pl-2">
                <b-form-checkbox-group
                    v-model="filter.color"
                    :options="filters.colors"
                    plain
                    stacked
                ></b-form-checkbox-group>
            </div>
        </div>

        <b-button v-on:click="loadCars" class="product__button" variant="primary">Применить</b-button>
    </b-card>
</template>

<script>
export default {
    props: ['filters'],
    data() {
        return {
            filter: {
                mark: [],
                model: [],
                minYear: '',
                maxYear: '',
                minPrice: '',
                maxPrice: '',
                box: [],
                color: []
            }
        }
    },
    mounted() {
        this.loadCars();
    },
    methods: {
        loadCars() {
            this.$root.$emit('loadCars', this.filter);
        }
    }
}
</script>

<style>
    .price-filter-control {
        display: flex;
    }

    .price-filter-control__block {
        margin-left: 10px;
    }

    .to-up {
        margin-top: 10px;
    }
</style>
