<template>
    <div class="text-center">
        <Header/>
        <router-view />
        <notifications />
    </div>
</template>

<script>
import Header from "./Header";

export default {
    components: {
        Header
    }
}
</script>
