<template>
    <div>
        <b-col lg="6" class="my-1">
            <b-form-group
                label="Filter"
                label-cols-sm="3"
                label-align-sm="right"
                label-size="sm"
                label-for="filterInput"
                class="mb-0"
            >
                <b-input-group size="sm">
                    <b-form-input
                        v-model="filter"
                        type="search"
                        id="filterInput"
                        placeholder="Type to Search"
                    ></b-form-input>
                    <b-input-group-append>
                        <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-form-group>
        </b-col>

        <b-table
            ref="table"
            striped
            hover
            :items="myProvider"
            :fields="fields"
            :filter="filter"
            :current-page="currentPage"
            :per-page="perPage"
            filter-debounce="500"
        >
            <template #cell(confirmed)="data">
                <span v-if="data.item.confirmed" class="success-order">
                    Подтвержден
                </span>

                <span v-else class="invalid-order">
                    Не подтвержден
                </span>
            </template>

            <template #cell(item.number)="data">
                <router-link :to="`/cars/${data.item.item.number}/edit`">
                    <span>{{ data.item.item.number }}</span>
                </router-link>
            </template>

            <template #cell(actions)="data">
                <router-link :to="`/orders/${data.item.id}/edit`">
                    <b-button variant="outline-primary">Редактировать</b-button>
                </router-link>
            </template>
        </b-table>

        <b-col sm="7" md="6" class="my-1">
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            ></b-pagination>
        </b-col>
    </div>
</template>

<script>
import Request from "../../helpers/request";

export default {
    data() {
        return {
            fields: [
                {
                    key: 'id',
                    sortable: true
                },
                {
                    key: 'customer_username',
                    label: 'Имя заказчика'
                },
                {
                    key: 'customer_telephone',
                    label: 'Телефон заказчика'
                },
                {
                    key: 'item.mark',
                    label: 'Марка'
                },
                {
                    key: 'item.model',
                    label: 'Модель'
                },
                {
                    key: 'item.number',
                    label: 'Гос. номер'
                },
                {
                    key: 'item.year_of_issue',
                    label: 'Год'
                },
                {
                    key: 'item.color',
                    label: 'Цвет '
                },
                {
                    key: 'item.price_per_day',
                    label: 'Цена в сутки'
                },
                {
                    key: 'from_date',
                    label: 'Дата начала'
                },
                {
                    key: 'to_date',
                    label: 'Дата конца'
                },
                {
                    key: 'total_price',
                    label: 'Общая сумма'
                },
                {
                    key: 'confirmed',
                    label: 'Подтверждено'
                },
                {
                    key: 'actions',
                    label: 'Действие'
                }
            ],
            currentPage: 1,
            totalRows: 1,
            perPage: 1,
            filter: ''
        }
    },
    methods: {
        myProvider(ctx) {
            let sort = 'ASC';

            if (ctx.sortDesc) {
                sort = 'DESC'
            }

            return Request.get('/orders', {
                page: ctx.currentPage,
                filter: ctx.filter,
                desc: sort
            })
                .then((orders) => {
                    this.totalRows = orders.total;
                    this.perPage = orders.per_page;

                    return orders.data;
                })
        }
    }
}
</script>

<style>
    .success-order {
        color: green;
    }

    .invalid-order {
        color: red;
    }
</style>
