<template>
    <div class="form-create">
        <b-form @submit="onSubmit">
            <b-form-group label="Имя кастомера" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.customer_username"
                    disabled
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Телефон кастомер" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.customer_telephone"
                    disabled
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Марка автомобиля" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.item.mark"
                    disabled
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Модель автомобиля" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.item.model"
                    disabled
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Год выпуска автомобиля" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.item.year_of_issue"
                    disabled
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Гос. номер автомобиля" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.item.number"
                    disabled
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Цвет автомобиля" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.item.color"
                    disabled
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Цена за сутки за автомобиль" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.item.price_per_day"
                    disabled
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Дата старта" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.from_date"
                    disabled
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Дата окончания" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.to_date"
                    disabled
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Общая стоимость" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.total_price"
                    disabled
                ></b-form-input>
            </b-form-group>

            <b-form-checkbox
                v-model="confirmed"
            >
                Подтвержден заказ
            </b-form-checkbox>

            <b-button type="submit" variant="primary">Сохранить</b-button>
        </b-form>
    </div>
</template>

<script>
import Request from "../../helpers/request";

export default {
    data() {
        return {
            form: {},
            confirmed: false
        }
    },
    mounted() {
        this.getOrder(this.$route.params.order);
    },
    methods: {
        getOrder(id) {
            Request.get(`/orders/order/${id}`)
                .then((data) => {
                    this.form = data;

                    this.confirmed = Boolean(this.form.confirmed);
                })
                .catch(() => {
                    this.$router.push({ name: 'Orders' });
                })
        },
        onSubmit(evt) {
            evt.preventDefault()

            Request.post(`/orders/order/${this.form.id}/edit`, {
                confirmed: this.confirmed
            })
                .then(() => {
                    this.$root.showNotify('success', 'Заказ обновлен');
                })
                .catch((err) => {
                    this.$root.showNotify('error', err);
                })
        }
    }
}
</script>

<style scoped>
    .form-create {
        width: 280px;
        margin: auto;
    }

    .box-radio {
        text-align: left;
    }
</style>

