<template>
    <div>
        <b-container class="bv-example-row">
            <b-row>
                <div class="col-md-8 order-md-2 col-lg-9">
                    <div class="container-fluid">
                        <div class="row">
                            <Car v-for="(car, i) in cars" :key="i" :car.sync="car" />
                        </div>
                    </div>
                </div>

                <b-col>
                    <Filters :filters.sync="filters" />
                </b-col>
            </b-row>
        </b-container>

        <OrderModal />
    </div>
</template>

<script>
import Filters from "../components/Filters";
import Car from "../components/Car";
import Request from "../helpers/request";
import OrderModal from "../components/models/OrderModal";

export default {
    components: {
        OrderModal,
        Filters,
        Car
    },
    data() {
        return {
            filters: {
                marks: [],
                models: [],
                minPrice: 0,
                maxPrice: 99999,
                years: [],
                boxes: [],
                colors: []
            },
            cars: []
        }
    },
    created() {
        this.$root.$on('loadCars', (filters) => {
            this.loadCars(filters);
        })
    },
    methods: {
        loadCars(filters) {
            Request.get('/cars', filters)
                .then((data) => {
                    this.parseFilters(data.filters);

                    this.cars = data.items.data;
                })
        },
        parseFilters(filters) {
            this.filters = {
                marks: [],
                models: [],
                minPrice: filters.min_price,
                maxPrice: filters.max_price,
                years: [],
                boxes: [],
                colors: []
            };

            filters.marks.map((item) => {
                this.filters.marks.push({
                    value: item.mark,
                    text: item.mark
                })
            });

            filters.models.map((item, i) => {
                this.filters.models.push({
                    value: {
                        mark: item.mark,
                        model: item.model
                    },
                    text: `${item.mark} ${item.model}`
                })
            });

            for (let year = parseInt(filters.min_year); year <= parseInt(filters.max_year); year++) {
                this.filters.years.push({
                    value: year,
                    text: year
                })
            }

            filters.boxes.map((item) => {
                this.filters.boxes.push({
                    value: item.box,
                    text: item.box
                })
            });

            filters.colors.map((item) => {
                this.filters.colors.push({
                    value: item.color,
                    text: item.color
                })
            });
        }
    }
}
</script>
