<template>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Аренда автомобилей</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <router-link to="/cars" class="p-2 text-dark">Автомобили</router-link>
            <router-link to="/orders" class="p-2 text-dark">Заказы</router-link>
        </nav>
        <b-button variant="danger" v-on:click="logOut">Выход</b-button>
    </div>
</template>

<script>
export default {
    methods: {
        logOut() {
            sessionStorage.removeItem("token");

            this.$root.showNotify('success', 'Вы успешно вышли из аккаунта');
            this.$router.push({ name: 'Login' });
        }
    }
}
</script>
